.list {
    padding: 30px 20px;

    &__item {
        display: inline-block;
        list-style: none;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: capitalize;
    }

    &__linkActive {
        font-weight: 700;
    }

    @media only screen and(max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0 10px;

        &__item {
            display: block;
            
            &:not(:last-child) {
                margin: 0 0 10px;
            }
        }
    }
}