.col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and(max-width: 768px) {
        width: 100%;
    }
}

.item {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    background: #fff;
    margin-bottom: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        .actions {
            opacity: 1;
        }
    }
}

.product {
    display: flex;
    align-items: center;

    &__image {
        width: 50px;
        height: 50px;
    }

    &__nameWrapper {
        background: #eeeeee;
        display: flex;
        align-items: center;
        margin-left: 20px;
        min-width: 110px;
        height: 25px;
        border-radius: 15px;
    }

    &__name {
        padding-left: 10px;
        text-transform: capitalize;
    }

    @media only screen and(max-width: 768px) {
        flex-direction: column;

        &__image {
            width: 120px;
            height: 120px;
        }

        &__nameWrapper {
            justify-content: center;
            margin: 0;
        }

        &__name {
            padding: 0;
        }
    }
}

.amount {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 80px;
    height: 25px;
    border-radius: 15px;
    font-weight: 700;

    @media only screen and(max-width: 768px) {
        justify-content: center;
        margin: 0;
    }
}

.status {
    content: '';
    position: absolute;
    left: 32px;
    height: 7px;
    width: 7px;
    border-radius: 50%;

    &--green {
        background: #2e7d32;
    }

    &--orange {
        background: orange;
    }

    &--red {
        background: #BF360C;
        ;
    }
}

.category {
    display: flex;
    align-items: center;
    height: 25px;
    text-transform: capitalize;

    @media only screen and(max-width: 768px) {
        justify-content: center;
        margin: 0;
    }
}

.actions {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
    transition: all 0.2s ease-in-out;

    .icon {
        height: auto;
        font-size: 1.2rem;
        cursor: pointer;
    }

    @media only screen and(max-width: 768px) {
        justify-content: center;
    }
}