$content-width: 1140px;

.header {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    max-width: $content-width;
    margin: 50px auto 10px;
    padding: 0 15px;

    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        height: 14px;
        width: 14px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        margin-left: 5px;
    }
}